@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;900&display=swap');

:root {
    --promminantColor: #ff9933;
    --textSelection: #FFD495;
    --backgroundColor: #232323;
    --textColor: #ebe9e9;
    --shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

::selection {
    background-color: var(--textSelection);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--textColor);
    cursor: none;
}

h1 {
     font-size: 3.3em;;
    font-weight: 100;
}

h2{
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: 2px;
}

h3 {
    font-size: 1.6em;
    font-weight: 200;
}

h4 {
    font-size: 1.2em;
}

p {
    font-size: 1.2em;
}

section {
    padding: 2%;
    margin: 2% 7%;
    background: var(--backgroundColor);
    border-radius: 20px;
}

.image {
    height: 70vh;
    object-fit: cover;
    aspect-ratio: 3/4;
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.down-arrow {
    padding: 2%;
    text-align: center;
    font-size: 1.6em;
    animation: fade-in-out 0.6s ease alternate infinite;
}

.prominant-text {
    color: var(--promminantColor);
}

.App{
    background-color: #111111;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@keyframes fade-in-out {
    from {
        transform: translateY(8px);
    }

    to {
        transform: translateY(0px);

    }
}

.v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.h-center {
    display: flex;
    justify-content: center;
}

.bton {
    padding: 10px 30px;
    border-radius: 50px;
    background: transparent;
    border: solid 2px var(--promminantColor);
    margin: 10px 0px;
    cursor: none !important ;
}

/* ---------------------NavBar-------------------------- */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.3vh;
    margin: 0% 3% 1%;
    border-radius: 0 0 20px 20px;
    background: var(--backgroundColor);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    z-index: 1000;
}


.nav ul {
    margin: 0;
    padding: 0;
}


.nav li {
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin-left: 15px;
    transition: ease-in 0.2s;
}

.nav li:hover {
    transform: translateY(-3px);
}

.nav li a {
    color: var(--textColor);
    transition: ease-in 0.2s;
    text-decoration: none;
}

.nav li a:hover {
    color: var(--promminantColor);
}

.logo-text {
    color: var(--promminantColor);
    letter-spacing: 2px;
}

/*------------------------------------ HeroSection ------------------------------------*/
.hero-img {
    display: flex;
    justify-content: center;
}

.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* -----------------------------------About----------------------------------- */
.about p{
    line-height: 2.3;
}

.tag {
    display: inline-block;
    border: solid 2px var(--promminantColor);
    margin: 0 4px;
    padding: 2px 8px;
    border-radius: 43px;
}

.title-link{
    color: var(--textColor);
}

.title-link:hover{
    color: var(--textColor);
}

.tag p {
    font-size: 14px;
    margin: 0;
}

#trailer {
    position: fixed;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #ffffff20;
    border: solid 1px;
    backdrop-filter: invert(1);
    left: 0px;
    top: 0px;
    z-index: 10000;
    border-color: transparent;
    pointer-events: none;
}

.follow-link a {
    font-size: 2em;
    padding: 20px;
}

.follow-link i {
    transition: all ease 0.4s;
}

.follow-link a:hover>i {
    color: var(--promminantColor);
}

/*------------------------------------------- Footer -------------------------------------------*/

#footer {
    text-align: center;
    padding: 5px;
    background-color: rgb(36, 36, 36);
    margin: 0%;
    width: 100%;
    border-radius: 0;
}

#footer p {
    color: #fff;
    margin: 0;
}

#footer a {
    text-decoration: none;
    color: var(--promminantColor);
}

#burger {
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 600px) {
    section {
        text-align: center;
        margin: 4%;
    }

    h1 {
        font-size: 2.7em;
    }

    h2 {
        font-size: 1.6em;
        text-decoration: underline;
    }

    h3 {
        font-size: 1.2em;
    }

    p {
        font-size: 1em;
    }

    .v-center {
        align-items: center;
    }

    .nav {
        position: sticky;
        text-align: center;
        width: 92%;
        margin: 0% 4% 1%;
        display: flex;
        justify-content: center;
    }

    .nav ul {
        opacity: 0;
        position: fixed;
        pointer-events: none;
    }

    .nav li {
        display: block;
        text-align: center;
        padding: 10% 0;
    }

    #burger {
        opacity: 1;
        pointer-events: all;
    }

    .hide-burger {
        opacity: 0;
        pointer-events: none;
    }

    .projects {
        justify-content: center;
    }

    .project-card {
        width: 100%;

        flex: 0 0 90%;

    }

    #trailer {
        opacity: 0;
    }

    .image {
        height: 55vh;
    }

    .bton {
        padding: 5px 15px;
    }

    .follow-link a {
        padding: 5px;
    }

    .follow-link {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}